a {
    text-decoration: none;
}

/* ------------ Menu ------------- */
#toggle {
    position: absolute;
    display: block;
    cursor: pointer;
    width: 28px;
    height: 30px;
    top: 60px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

#toggle span:after,
#toggle span:before {
    content: "";
    position: absolute;
    left: 0;
    top: -9px;
}

#toggle span:after{
    top: 9px;
}

#toggle span {
    position: relative;
    display: block;
}

#toggle span,
#toggle span:after,
#toggle span:before {
    width: 100%;
    height: 5px;
    background-color: #c3c3c3;
    transition: all 0.3s;
    backface-visibility: hidden;
    border-radius: 2px;
}

/* on activation */
#toggle.on span {
    background-color: transparent;
}

#toggle.on span:before {
    transform: rotate(45deg) translate(5px, 5px);
}

#toggle.on span:after {
    transform: rotate(-45deg) translate(7px, -8px);
}

#toggle.on + #menu {
    opacity: 1;
    visibility: visible;
}

#menu {
    position: absolute;
    top: 85px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    color: #999;
    width: 200px;
    padding: 10px;
    margin: auto;
    font-family: 'Optima', sans-serif;
    text-align: center;
    border-radius: 4px;
    background: white;
    box-shadow: 0 1px 8px rgba(0,0,0,0.05);
    opacity: 0;
    visibility: hidden;
    transition: opacity .4s;
}

#menu:after {
    position: absolute;
    top: -15px;
    left: 95px;
    content: "";
    display: block;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 20px solid white;
}

#menu ul, li, li a {
    list-style: none;
    display: block;
    margin: 0;
    padding: 0;
}

#menu li a {
    padding: 5px;
    color: black;
    transition: all .2s;
}

#menu li a:hover,
#menu li a:focus {
    background: black;
    color: white;
}
/* ------------ End Menu ------------- */

/* ------------ Contact Form ------------- */
section#hire {
    background: #c3c3c3;
    margin: 90px auto 120px;
    border-top: 15px solid black;
    text-align: center;
    font-size: 62.5%;
    font-family: 'Optima', sans-serif;
    font-weight: 300;
    color: white;
    padding: 50px 0 110px;
    width: 80%;
    max-width: 1100px;
}

section#hire h1 {
    margin-bottom: 40px;
    font-size: 4em;
    text-transform: uppercase;
    font-family: 'Optima', sans-serif;
    font-weight: 100;
}

form {
    width: 58.33333%;
    margin: 0 auto;
}

form .field {
    width: 100%;
    position: relative;
    margin-bottom: 15px;
}

form .field label {
    text-transform: uppercase;
    position: absolute;
    top: 0;
    left: 0;
    background: black;
    width: 100%;
    height: 18px;
    padding: 18px 0;
    font-size: 1.45em;
    letter-spacing: 0.075em;
    -webkit-transition: all 333ms ease-in-out;
    -moz-transition: all 333ms ease-in-out;
    -o-transition: all 333ms ease-in-out;
    -ms-transition: all 333ms ease-in-out;
    transition: all 333ms ease-in-out;
}

form .field label + span {
    font-family: 'SSStandard';
    opacity: 0;
    color: white;
    display: block;
    position: absolute;
    top: 12px;
    left: 7%;
    font-size: 2.5em;
    text-shadow: 1px 2px 0 #cd6302;
    -webkit-transition: all 333ms ease-in-out;
    -moz-transition: all 333ms ease-in-out;
    -o-transition: all 333ms ease-in-out;
    -ms-transition: all 333ms ease-in-out;
    transition: all 333ms ease-in-out;
}

form .field input[type="text"],
form .field textarea {
    border: none;
    background: white;
    width: 80.5%;
    margin: 0;
    padding: 18px 0;
    padding-left: 19.5%;
    color: black;
    font-size: 1.4em;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}

form .field input[type="text"]#msg,
form .field textarea#msg {
    height: 18px;
    resize: none;
    -webkit-transition: all 333ms ease-in-out;
    -moz-transition: all 333ms ease-in-out;
    -o-transition: all 333ms ease-in-out;
    -ms-transition: all 333ms ease-in-out;
    transition: all 333ms ease-in-out;
}

form .field input[type="text"]:focus, form .field input[type="text"].focused,
form .field textarea:focus,
form .field textarea.focused {
    outline: none;
}

form .field input[type="text"]:focus#msg, form .field input[type="text"].focused#msg,
form .field textarea:focus#msg,
form .field textarea.focused#msg {
    padding-bottom: 150px;
}

form .field input[type="text"]:focus + label, form .field input[type="text"].focused + label,
form .field textarea:focus + label,
form .field textarea.focused + label {
    width: 18%;
    background: #FD9638;
    color: white;
}

form .field input[type="text"].focused + label,
form .field textarea.focused + label {
    color: #FD9638;
}

form .field:hover label {
    width: 18%;
    background: #313A3D;
    color: white;
}

form input[type="submit"] {
    background: white;
    color: black;
    -webkit-appearance: none;
    border: none;
    text-transform: uppercase;
    position: relative;
    padding: 13px 50px;
    font-size: 1.4em;
    letter-spacing: 0.1em;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    -webkit-transition: all 333ms ease-in-out;
    -moz-transition: all 333ms ease-in-out;
    -o-transition: all 333ms ease-in-out;
    -ms-transition: all 333ms ease-in-out;
    transition: all 333ms ease-in-out;
}

form input[type="submit"]:hover {
    background: black;
    color: white;
    cursor: pointer;
}

form input[type="submit"]:focus {
    outline: none;
    background: #FD9638;
}

@media screen and (max-width: 855px) {
    form .field input[type="text"]:focus + label, form .field input[type="text"].focused + label,
    form .field textarea:focus + label,
    form .field textarea.focused + label,
    form .field:hover label {
        font-size: 1em;
    }
}
/* ------------ End Contact Form ------------- */