* {
    margin: 0;
    padding: 0;
    list-style: none;
    -webkit-font-smoothing: antialiased;
}

p {
    color: #596c7c;
    font-family: helvetica, arial, san-serif;
    font-size: 0.875em;
    font-weight: normal;
    text-shadow: 0 1px #ffffff;
}

#history {
    display: block;
    position: relative;
    margin: 50px auto;
    text-align: center;
}

#timeline_track {
    display: block;
    position: relative;
    margin: 0 auto;
    width: 6px;
    height: 800px;
    background-color: #e9edf0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25) inset, transparent 0 0 0, transparent 0 0 0, transparent 0 0 0, transparent 0 0 0, transparent 0 0 0;
    -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25) inset, transparent 0 0 0, transparent 0 0 0, transparent 0 0 0, transparent 0 0 0, transparent 0 0 0;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25) inset, transparent 0 0 0, transparent 0 0 0, transparent 0 0 0, transparent 0 0 0, transparent 0 0 0;
}

#historic_event_1,
#historic_event_2,
#historic_event_3,
#historic_event_4 {
    display: table;
    position: absolute;
    width: 300px;
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    opacity: 0.5;
    filter: "alpha(opacity=50)";
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    -webkit-transition: opacity 600ms ease;
    -moz-transition: opacity 600ms ease;
    -ms-transition: opacity 600ms ease;
    -o-transition: opacity 600ms ease;
}

#historic_event_1:hover,
#historic_event_1.current,
#historic_event_2:hover,
#historic_event_2.current,
#historic_event_3:hover,
#historic_event_3.current,
#historic_event_4:hover,
#historic_event_4.current {
    opacity: 1;
    filter: "alpha(opacity=100)";
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

#historic_event_1 {
    top: 100px;
    left: 50%;
    margin-left: -12px;
}

#historic_event_2 {
    top: 300px;
    left: 50%;
    margin-left: -273px;
}

#historic_event_3 {
    top: 500px;
    left: 50%;
    margin-left: -12px;
}

#historic_event_4 {
    top: 700px;
    left: 50%;
    margin-left: -273px;
}

.historic_year {
    display: table-cell;
    vertical-align: middle;
    width: 33%;
    text-align: center;
}

#historic_text_1,
#historic_text_2,
#historic_text_3,
#historic_text_4 {
    display: table-cell;
    vertical-align: middle;
    width: 53%;
    text-align: left;
}

.historic_dot_wrapper {
    display: table-cell;
    vertical-align: middle;
    width: 13%;
    text-align: center;
}

.historic_dot {
    display: block;
    position: relative;
    width: 14px;
    height: 14px;
    margin: 0 auto;
    background-color: #e9edf0;
    cursor: pointer;
    z-index: 100;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -o-border-radius: 100%;
    border-radius: 100%;
    -webkit-box-shadow: 0 0 0 1px #d1d8de inset, 0 2px 0 #ffffff inset, 0 2px 0 #d1d8de, transparent 0 0 0, transparent 0 0 0, transparent 0 0 0;
    -moz-box-shadow: 0 0 0 1px #d1d8de inset, 0 2px 0 #ffffff inset, 0 2px 0 #d1d8de, transparent 0 0 0, transparent 0 0 0, transparent 0 0 0;
    box-shadow: 0 0 0 1px #d1d8de inset, 0 2px 0 #ffffff inset, 0 2px 0 #d1d8de, transparent 0 0 0, transparent 0 0 0, transparent 0 0 0;
}

#historic_event_1:hover #historic_dot_1,
#historic_event_2:hover #historic_dot_2,
#historic_event_3:hover #historic_dot_3,
#historic_event_4:hover #historic_dot_4 {
    -webkit-transform: scale(1.15) translate3d(0, 0, 0);
    -moz-transform: scale(1.15) translate3d(0, 0, 0);
    -ms-transform: scale(1.15) translate3d(0, 0, 0);
    -o-transform: scale(1.15) translate3d(0, 0, 0);
}

#historic_dot_1,
#historic_dot_2,
#historic_dot_3,
#historic_dot_4 {
    display: block;
    position: relative;
    margin: 0 auto;
    left: -7px;
}

#history_clock {
    display: block;
    position: absolute;
    top: 100px;
    left: 50%;
    margin-left: -17px;
    width: 34px;
    height: 34px;
    background-color: #f7f9fa;
    z-index: 200;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -o-border-radius: 100%;
    border-radius: 100%;
    -webkit-box-shadow: 0 0 0 1px #d1d8de inset, 0 2px 0 #ffffff inset, 0 2px 0 #d1d8de, transparent 0 0 0, transparent 0 0 0, transparent 0 0 0;
    -moz-box-shadow: 0 0 0 1px #d1d8de inset, 0 2px 0 #ffffff inset, 0 2px 0 #d1d8de, transparent 0 0 0, transparent 0 0 0, transparent 0 0 0;
    box-shadow: 0 0 0 1px #d1d8de inset, 0 2px 0 #ffffff inset, 0 2px 0 #d1d8de, transparent 0 0 0, transparent 0 0 0, transparent 0 0 0;
    -webkit-transition: top 1s cubic-bezier(0.645, 0.045, 0.355, 1);
    -moz-transition: top 1s cubic-bezier(0.645, 0.045, 0.355, 1);
    -ms-transition: top 1s cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition: top 1s cubic-bezier(0.645, 0.045, 0.355, 1);
}

#history_clock.animate1 {
    top: 300px;
}

#history_clock.animate2 {
    top: 500px;
}

#history_clock.animate3 {
    top: 697px;
}

#clockface {
    display: block;
    position: relative;
    top: 4px;
    left: 4px;
    width: 26px;
    height: 27px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -o-border-radius: 100%;
    border-radius: 100%;
    background-color: #596c7c;
    /* Old browsers */
    background-image: -moz-linear-gradient(90deg, #596c7c 25%, #3d4a55 75%);
    /*FF3.6+ */
    background-image: -webkit-gradient(90deg, left top, right bottom, color-stop(25%, #596c7c), color-stop(75%, #3d4a55));
    /*Chrome,Safari4+ */
    background-image: -webkit-linear-gradient(90deg, #596c7c 25%, #3d4a55 75%);
    /*Chrome10+,Safari5.1+ */
    background-image: -o-linear-gradient(90deg, #596c7c 25%, #3d4a55 75%);
    /* Opera 11.10+ */
    background-image: -ms-linear-gradient(90deg, #596c7c 25%, #3d4a55 75%);
    /*IE10+ */
    background-image: linear-gradient(90deg, #596c7c 25%, #3d4a55 75%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3d4a55', endColorstr='#596c7c', GradientType='0' );
    /* IE6-9 */
    -webkit-box-shadow: 0 0 0 1px #d1d8de, 0 0 20px rgba(0, 0, 0, 0.25) inset, transparent 0 0 0, transparent 0 0 0, transparent 0 0 0, transparent 0 0 0;
    -moz-box-shadow: 0 0 0 1px #d1d8de, 0 0 20px rgba(0, 0, 0, 0.25) inset, transparent 0 0 0, transparent 0 0 0, transparent 0 0 0, transparent 0 0 0;
    box-shadow: 0 0 0 1px #d1d8de, 0 0 20px rgba(0, 0, 0, 0.25) inset, transparent 0 0 0, transparent 0 0 0, transparent 0 0 0, transparent 0 0 0;
}

#clockglare {
    display: block;
    position: absolute;
    top: 2px;
    left: 5px;
    width: 16px;
    height: 8px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -o-border-radius: 100%;
    border-radius: 100%;
    background-color: rgba(255, 255, 255, 0);
    /* Old browsers */
    background-image: -moz-linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.4) 100%);
    /*FF3.6+ */
    background-image: -webkit-gradient(90deg, left top, right bottom, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(100%, rgba(255, 255, 255, 0.4)));
    /*Chrome,Safari4+ */
    background-image: -webkit-linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.4) 100%);
    /*Chrome10+,Safari5.1+ */
    background-image: -o-linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.4) 100%);
    /* Opera 11.10+ */
    background-image: -ms-linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.4) 100%);
    /*IE10+ */
    background-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.4) 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='rgba(255, 255, 255, 0.4)', endColorstr='rgba(255, 255, 255, 0)', GradientType='0' );
    /* IE6-9 */
}

#clockarm_1,
#clockarm_2 {
    -webkit-transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1);
    -moz-transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1);
    -ms-transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1);
}

#clockarm_1 {
    display: block;
    position: absolute;
    top: 4px;
    left: 12px;
    width: 2px;
    height: 10px;
    background-color: #ffffff;
    z-index: 10;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    -o-border-radius: 1px;
    border-radius: 1px;
    -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.75), transparent 0 0 0, transparent 0 0 0, transparent 0 0 0, transparent 0 0 0, transparent 0 0 0;
    -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.75), transparent 0 0 0, transparent 0 0 0, transparent 0 0 0, transparent 0 0 0, transparent 0 0 0;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.75), transparent 0 0 0, transparent 0 0 0, transparent 0 0 0, transparent 0 0 0, transparent 0 0 0;
    -webkit-transform-origin: 50% 10px;
    -moz-transform-origin: 50% 10px;
    -ms-transform-origin: 50% 10px;
    -o-transform-origin: 50% 10px;
}

#clockarm_2 {
    display: block;
    position: absolute;
    top: 6px;
    left: 12px;
    width: 2px;
    height: 9px;
    background-color: #ffffff;
    z-index: 20;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    -o-border-radius: 1px;
    border-radius: 1px;
    -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.75), transparent 0 0 0, transparent 0 0 0, transparent 0 0 0, transparent 0 0 0, transparent 0 0 0;
    -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.75), transparent 0 0 0, transparent 0 0 0, transparent 0 0 0, transparent 0 0 0, transparent 0 0 0;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.75), transparent 0 0 0, transparent 0 0 0, transparent 0 0 0, transparent 0 0 0, transparent 0 0 0;
    -webkit-transform: rotate(0.25turn) translate3d(0, 0, 0);
    -moz-transform: rotate(0.25turn) translate3d(0, 0, 0);
    -ms-transform: rotate(0.25turn) translate3d(0, 0, 0);
    -o-transform: rotate(0.25turn) translate3d(0, 0, 0);
    -webkit-transform-origin: 50% 8px;
    -moz-transform-origin: 50% 8px;
    -ms-transform-origin: 50% 8px;
    -o-transform-origin: 50% 8px;
}

#history_clock.animate1 #clockarm_1 {
    -webkit-transform: rotate(10.85turn) translate3d(0, 0, 0);
    -moz-transform: rotate(10.85turn) translate3d(0, 0, 0);
    -ms-transform: rotate(10.85turn) translate3d(0, 0, 0);
    -o-transform: rotate(10.85turn) translate3d(0, 0, 0);
    -webkit-transform-origin: 50% 10px;
    -moz-transform-origin: 50% 10px;
    -ms-transform-origin: 50% 10px;
    -o-transform-origin: 50% 10px;
}

#history_clock.animate1 #clockarm_2 {
    -webkit-transform: rotate(10.25turn) translate3d(0, 0, 0);
    -moz-transform: rotate(10.25turn) translate3d(0, 0, 0);
    -ms-transform: rotate(10.25turn) translate3d(0, 0, 0);
    -o-transform: rotate(10.25turn) translate3d(0, 0, 0);
    -webkit-transform-origin: 50% 8px;
    -moz-transform-origin: 50% 8px;
    -ms-transform-origin: 50% 8px;
    -o-transform-origin: 50% 8px;
}

#history_clock.animate2 #clockarm_1 {
    -webkit-transform: rotate(13.11turn) translate3d(0, 0, 0);
    -moz-transform: rotate(13.11turn) translate3d(0, 0, 0);
    -ms-transform: rotate(13.11turn) translate3d(0, 0, 0);
    -o-transform: rotate(13.11turn) translate3d(0, 0, 0);
    -webkit-transform-origin: 50% 10px;
    -moz-transform-origin: 50% 10px;
    -ms-transform-origin: 50% 10px;
    -o-transform-origin: 50% 10px;
}

#history_clock.animate2 #clockarm_2 {
    -webkit-transform: rotate(13.34turn) translate3d(0, 0, 0);
    -moz-transform: rotate(13.34turn) translate3d(0, 0, 0);
    -ms-transform: rotate(13.34turn) translate3d(0, 0, 0);
    -o-transform: rotate(13.34turn) translate3d(0, 0, 0);
    -webkit-transform-origin: 50% 8px;
    -moz-transform-origin: 50% 8px;
    -ms-transform-origin: 50% 8px;
    -o-transform-origin: 50% 8px;
}

#history_clock.animate3 #clockarm_1 {
    -webkit-transform: rotate(16.46turn) translate3d(0, 0, 0);
    -moz-transform: rotate(16.46turn) translate3d(0, 0, 0);
    -ms-transform: rotate(16.46turn) translate3d(0, 0, 0);
    -o-transform: rotate(16.46turn) translate3d(0, 0, 0);
    -webkit-transform-origin: 50% 10px;
    -moz-transform-origin: 50% 10px;
    -ms-transform-origin: 50% 10px;
    -o-transform-origin: 50% 10px;
}

#history_clock.animate3 #clockarm_2 {
    -webkit-transform: rotate(16.84turn) translate3d(0, 0, 0);
    -moz-transform: rotate(16.84turn) translate3d(0, 0, 0);
    -ms-transform: rotate(16.84turn) translate3d(0, 0, 0);
    -o-transform: rotate(16.84turn) translate3d(0, 0, 0);
    -webkit-transform-origin: 50% 8px;
    -moz-transform-origin: 50% 8px;
    -ms-transform-origin: 50% 8px;
    -o-transform-origin: 50% 8px;
}